<!DOCTYPE html>
<html>
  <head>
    <title>Travels</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <h1>Adventures of Paul and Dana</h1>
    <% for (var i = 0; i < results.length; i++ ) {
      var location = results[i];
    %>
     <div>
      <h2><%=location.country%>: <%=location.name%></h2>
      <img src="/images/<%=location.image_name%>">
      <p><%=location.description%></p>
      <p>Rating: <%=location.rating%> (out of 10)</p>
     </div>
    <% } %>


  </body>
</html>